{% extends 'base.html.twig' %}

{% block title %}
	{{ plane.name }}
{% endblock %}

{% block body %}
	<section class="container-fluid hero-container">
		<div class="page-hero-img d-flex justify-content-center">
			<img src="{{ asset('uploads/images/categories/' ~ plane.category.heroImg ) }}" alt="" class="img-fluid">
			{# <img src="{{ asset('uploads/images/main/hero-companies.webp') }}" alt="{{ plane.name }}" class="img-fluid"> #}
			<h1 class="text-center aircrafts-h1">{{ plane.name }}</h1>
		</div>
		<div class="container my-5">
			<div class="row d-flex align-items-center my-5">
				<div class="col-12 col-md-6">
					<h2 class=" aircrafts-h2">{{ plane.name|upper }}</h2>
					<p class="">Catégorie :
						{{ plane.category.name }}</p>
				</div>
				<div class="col-12 col-md-6 mx-auto">
					<img src="{{ asset('uploads/images/planes/'~ plane.image) }}" alt="" class="img-fluid plane-show-img">
				</div>
			</div>
			<hr>
			<div class="col-12">
				<h3>Description :</h3>
				<p class="text-wrap plane-show-p mb-5">{{ plane.description|raw }}</p>
				<hr>
				<h3 class="pt-5">Caracteristiques :</h3>
				{% include "includes/_inc-features.html.twig" %}
			</div>
		</div>
	</section>
{% endblock %}
