{% extends 'base.html.twig' %}

{% block title %}Aéroports{% endblock %}

{% block body %}
<section class="container-fluid hero-container">
		<div class="page-hero-img d-flex justify-content-center">
			<img src="{{ asset('uploads/images/main/hero-airports-v2.webp') }}" alt="" class="img-fluid">
			<h1 class="text-center aircrafts-h1">Liste des aéroports</h1>
		</div>
		{# <div class="row">
			<div class="col">
			</div>
		</div> #}
		<div class="container">
			<div class="col-12 col-lg-10 mx-auto">
				<p class="aircrafts-p my-3">Retrouvez dans cette section la liste des plus grands aéroports du monde.</p>
			</div>
		</div>
        <div class="container">
			<div class="row my-5">
				{% for airport in airports %}
					<div class="col-12 col-lg-6 mx-auto my-3">
						<div class="card h-100">
							<img src="{{ asset('uploads/images/airports/' ~ airport.image) }}" class="card-img-top mt-3" alt="..." style="height: 150px; object-fit: contain;">
							<div class="card-body">
								<h3 class="card-title">{{ airport.name|upper }}</h3>
								<p class="card-text">Découvrez tous les détails concernant l'aéroport
									{{ airport.name }} .</p>
								<p class="card-text">
									<small class="text-muted">Mis à jour le
										{{ airport.updatedAt|format_datetime(locale='fr') }}</small>
								</p>
								<a href="{{ path('airports_show', {slug: airport.slug }) }}" class="btn btn-primary plane-btn">Découvrir {{ airport.name }}</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
